<div class="login-card">
    <mat-card>
        <mat-card-title>
            Login
        </mat-card-title>
        <br>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input #username matInput placeholder="Ex. awesomeUsername" value="">
            </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
            <button (click)="login(username)" matTooltip="Login" color="primary" mat-icon-button>
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
</div>